.home {
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}

.realms {
  gap: 5px;
  grid-auto-flow: column dense;
  grid-auto-rows: 1fr;
}

.realm {
  padding: 2px;
}
