@import './_variables.scss';
// @import './_mixins.scss';

main {
  min-height: calc(100vh - 10px - #{$header--height});
  padding: 5px;
}

.page {
  min-height: inherit;

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__action-bar {
    display: flex;
    align-items: center;
  }
}

.button-group.button-group {
  justify-content: flex-start;
  margin: 25px 0;
  box-sizing: border-box;
}

// Overrides
.tag-cloud__actions {
  display: none !important;
}
