// @import './_extensions.scss';
@import './_variables.scss';
// @import './_mixins.scss';

// Colours here...
$white: #fff;
$off-white: #f1f1f1;
$onyx: #1f1f1f;
$red: #f00;
$tyrian: #66023c;
$purple: #df73ff;
$gold: #ffcc33;

:root {
  --base-background: #{$white};
  --base-background-hover: #{darken($white, 10%)};

  --base-colour: #000;
  --base-colour-hover: #{lighten(#000, 10%)};

  --primary-colour: #{$tyrian};
  --primary-colour-hover: #{lighten($tyrian, 10%)};

  --primary-contrast: #{$off-white};
  --primary-contrast-hover: #{darken($off-white, 10%)};

  --accent-colour: #{$gold};
  --accent-colour-hover: #{darken($gold, 10%)};

  --accent-contrast: #{$onyx};
  --accent-contrast-hover: #{lighten($onyx, 10%)};

  --highlight: #{$purple};
  --faded-colour: #999;

  --faded-out-background: #ccc;
  --faded-out-colour: #000;

  --danger-colour: #{$red};
  --danger-colour-hover: #{darken($red, 10%)};
}

input {
  background: inherit;
  color: inherit;
}

.theme {
  --scroll-top-button--background: var(--primary-colour);
  --scroll-top-button--background-hover: var(--primary-colour-hover);
  --scroll-top-button--colour: var(--primary-contrast);

  background-color: var(--base-background);
  color: var(--base-colour);

  .application-header {
    background-color: var(--primary-colour);
    color: var(--primary-contrast);

    &::after {
      box-shadow: 0px 2px 5px -2px var(--highlight);
      content: '';
      position: absolute;
      left: -10px;
      right: 0;
      bottom: 0px;
      height: 8px;
    }
  }

  .nav-menu__link,
  .application-header__brand {
    color: var(--primary-contrast);
    text-decoration: none;

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: var(--primary-contrast-hover);
    }
  }

  .realms-link {
    color: var(--primary-colour);
    text-decoration: none;

    &.active,
    &:active,
    &:focus,
    &:hover {
      color: var(--accent-colour-hover);
      text-decoration: underline;
    }
  }

  .loading-bouncer__orb {
    background-color: var(--accent-colour);
  }

  .dropdown-menu__menu {
    background-color: var(--base-background);
    color: var(--base-colour);
  }
  .dropdown-menu__arrow {
    border-bottom-color: var(--base-background);
  }

  .button--standard,
  .button--icon:not(.tag-chip__delete) {
    background-color: var(--base-background);
    color: var(--base-contrast);

    &:active,
    &:focus,
    &:hover {
      background-color: var(--base-background-hover);
      color: var(--base-contrast-hover);
    }
  }

  .button--primary {
    background-color: var(--primary-colour);
    color: var(--primary-contrast);

    &:active,
    &:focus,
    &:hover {
      background-color: var(--primary-colour-hover);
      color: var(--primary-contrast-hover);
    }
  }

  .button--accent {
    background-color: var(--accent-colour);
    color: var(--accent-contrast);

    &:active,
    &:focus,
    &:hover {
      background-color: var(--accent-colour-hover);
      color: var(--accent-contrast-hover);
    }
  }

  .has-float-label input:focus,
  .has-float-label select:focus {
    border-color: var(--primary-colour);
  }

  .autocomplete__menu {
    background-color: var(--base-background);
  }
  .autocomplete-suggestion--active {
    border-color: var(--accent-colour);
  }

  .tag-chip--active,
  .tag-chip--clickable:hover,
  .tag-chip--clickable:focus {
    background-color: var(--accent-colour);
    color: var(--accent-contrast);
  }
  .tag-chip__delete {
    border-radius: 1rem;

    &:active,
    &:focus,
    &:hover {
      background-color: var(--primary-colour);
      color: var(--primary-contrast);
    }
  }

  .scroll-top::before {
    font-size: 2.8rem;
  }

  .accordion__heading {
    border-color: var(--primary-colour);
  }

  .tickbox input::before,
  .accordion__toggle {
    color: var(--base-colour);
  }

  .tickbox input:checked::before {
    color: var(--primary-colour);
  }
  .radio__input:checked::after {
    color: var(--accent-colour);
  }

  .tabs__panels {
    border-top: 1px solid var(--primary-colour);
  }
  .tab-control:not(.tab-control--active) {
    &:not(:hover),
    .tab-control__button:not(:hover) {
      background-color: var(--faded-out-background);
      color: var(--faded-out-colour);
      border-color: var(--faded-out-background);
      border-bottom: none;
    }
  }
  .tab-control--active,
  .tab-control:hover {
    border: {
      color: var(--primary-colour);
      bottom-color: var(--base-background);
      bottom-width: 2px;
    }
  }

  .realm-group__item {
    &::before,
    &::after {
      border-color: var(--accent-colour);
    }

    &--highlight::after,
    &--highlight-exact::before {
      border-color: var(--highlight);
    }
  }

  .error-block {
    color: var(--danger-colour);
  }
}
