.tag-related-items {
  display: grid;
  grid-template-rows: 1fr;
  gap: 5px;
  margin: 25px 0;

  &--realm {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }

  &--fragment {
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
  }
}
